form.course-form > input, form.course-form > select {
    padding: 5px;
    font-size: 1.2em;
}

form.course-form > select {
    min-width: 8em;
}





.ctrlbar {
    display: flex;
    padding: 0 0.1em;
    justify-content: left;
    align-items: center;
}

.ctrlbar > .btn {
    padding: 2px 15px;
    background-color: darkcyan;
    
}


